[Unit]
Description=Prometheus
After=network.target
Documentation=https://prometheus.io/docs/introduction/overview/

[Service]
Type=simple
ExecStart={{ path_exec_prometheus }}prometheus --config.file={{ path_conf_prometheus }}prometheus.yml

[Install]
WantedBy=multi-user.target
